@font-face {
  font-family: "Figtree-ExtraBold";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Figtree-Medium";
  src: url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
}
:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;

  --font-bold: Figtree-ExtraBold;
  --font-medium: Figtree-Medium;

  --text-size-1: 24px;
  --text-size-2: 16px;
  --text-size-3: 14px;

  --text-line-height: 150%;
  --text-letter-spacing: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--yellow);

  min-height: 100vh;
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
}
a {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
article {
  background-color: var(--white);

  box-shadow: 8px 8px 0px black;
  min-width: 384px;
  min-height: 522px;

  border: 1px solid var(--gray-950);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}
article:hover h1 {
  color: var(--yellow);
}

article > img {
  border-radius: 10px;
}
section {
  width: 336px;

  display: flex;
  flex-direction: column;

  gap: 12px;
}
.articleCategory {
  color: var(--gray-950);
  font-family: var(--font-bold);
  font-size: var(--text-size-3);
  text-align: center;
  width: 82px;
  height: 29px;

  background-color: var(--yellow);
  border-radius: 8px;
  padding-top: 4px;
  padding: 12px 4px 12px 4px 12px;
}
article > section small {
  font-family: var(--font-medium);
  font-size: var(--text-size-3);

  width: 143px;
  height: 21px;
}

h1 {
  font-family: var(--font-bold);
  font-size: var(--text-size-1);
  color: var(--gray-950);
  margin: 0;

  height: 36px;
}
article > section > p {
  font-family: var(--font-medium);
  font-size: var(--text-size-2);
  color: var(--gray-500);
  margin: 0;
}
.author {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 336px;
  gap: 8px;
}
.author > a {
  color: var(--gray-950);

  font-family: var(--font-bold);
  font-size: var(--text-size-3);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
